{% block title %}{{ global.name }}{% endblock %}

{% block content %}
  <section class="block">
    <h1>Devicess</h1>
    <h2>Here's a full list of all our jawns. If you have anything to donate or any requests let us know!</h2>
    <table class="devices">
      <thead>
        <tr>
          <th>Device</th>
          <th>OS</th>
          <th>Contributer</th>
        </tr>
      {% for device in global.devices %}
        <tr>
          <td>{{ device.brand }} {{ device.name }}</td>
          <td>{{ device.os }}</td>
          <td>
            {% if device.contributer.url %}
              <a href="{{ device.contributer.url }}">{{ device.contributer.name }}</a>
            {% else %}
              {{ device.contributer.name }}
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
  </section>
{% endblock %}